.title-size {
  padding-top: 10px;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 15px;
}

.paragraph {
  padding-bottom: 15px;
}

.color {
  background: gray;
  margin-bottom: 10px;
  width: 300px;
}
